/*
** the common style
**
*/

/*
** wrap外层包裹容器：
** 默认の定位absolute
** 最小高度の全屏高
** 背景色为#f5f5f5浅灰
*/
.common-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5; /*每个页面背景色浅灰*/
}
/*
** header导航：
** 默认の定位relative
** 布局方式flex弹性盒子
** 背景色为白色
*/
.common-header {
  position: relative;
  display: flex;
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  text-align: center;
  background-color: #fff;
}
