/*
** the common style
**
*/

/*
** wrap外层包裹容器：
** 默认の定位absolute
** 最小高度の全屏高
** 背景色为#f5f5f5浅灰
*/
.common-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5; /*每个页面背景色浅灰*/
}

/*
** header导航：
** 默认の定位relative
** 布局方式flex弹性盒子
** 背景色为白色
*/
.common-header {
  position: relative;
  display: flex;
  width: 100%;
  height: .88rem;
  line-height: .88rem;
  font-size: .28rem;
  /*font-size: .32rem;*/
  background-color: #fff;
  z-index: 10;
}
/*header导航: ①返回按钮*/
.common-header-back {
  position: absolute;
  left: 0;
  top: 0;
  width: .8rem;
  font-size: .36rem !important;
  color: #616161;
  font-weight: 600;
  text-align: center;
}
/*header导航: ②标题*/
.common-header-title {
  margin: 0 1rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .32rem;
  color: #212121;
  text-align: center;
}

/*
** 容器两侧固定7px间距
*/
.common-padding-14 {
  width: 100%;
  padding: 0 .14rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
** 容器两侧固定16px间距
*/
.common-padding-32 {
  width: 100%;
  padding: 0 .32rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
** 容器左右两侧各留1rem
*/
.common-margin-1 {
  margin: 0 1rem;
}
/*
** a标签
** w-100 h-100
*/
.full-link {
  display: block;
  width: 100%;
  height: 100%;
}

/*
** 距离顶部导航固定44px
*/
.mt-88 {
  margin-top: .88rem;
}
/*
** 容器自身宽度100%
*/
.w-100 {
  width: 100%;
}

/**
 ** 模块样式（通用）
 **
*/
/* 1.模块外容器 */
.common-group-wrap {
  margin-top: .2rem;
  background-color: #fff;
}
/* 2.模块标题 */
.common-group-title {
  position: relative;
  padding: .24rem 0 .26rem;
}
/* 2.1 模块标题-图标 */
.common-title-img {
  overflow: hidden;
  width: .3rem;
  height: .3rem;
  margin-left: .2rem;
  vertical-align: top;
}
/* 2.2 模块标题-文字 */
.common-title-text {
  margin-left: .08rem;
  height: .44rem;
  line-height: .44rem;
  font-size: .32rem;
}
/* 2.3 模块标题-查看更多 */
.common-title-more {
  position: absolute;
  right: .32rem;
  color: #616161;
  font-size: .24rem;
}
/* 2.3.1 模块标题-查看更多-文字 */
.more-detail {
  margin-right: -.2rem;
}
/* 2.3.2 模块标题-查看更多-图标 */
.common-title-more .icon-enter {
  font-size: 20px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 3.模块列表(ul) */
.common-group-lists {
  padding: 0 .24rem;
  overflow-x: scroll;
  white-space: nowrap;
}

