/*
  该文件使用混用“mixins”
  同样是样式的复用
*/

// 多文字...显示
ellipsis() {
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
}

// 统一边距
commonWrap() {
  padding auto .3rem
}

// 统一标题
mainTitle() {
  margin-top: .26rem;
  height: .44rem;
  color: #212121;
  font-size: .32rem;
  line-height: .44rem;
}


