// 变量样式

// 主题绿色
$colorMainGreen = #00afc7
// 主题橘色
$colorMainOrange = #ff8300
// 主题红色
$colorMainRed = #f55

// 主题绿色 -- 背景色
$bgMainGreen = #00bcd4
// 主题浅绿色 -- 背景色
$bgLightBlue = #f0f5f6
// 白色 -- 背景色
$bgWhite = #fff



// 大标题
$textMainTitle = #212121
// 主要文字
$text = #616161
// 次要内容
$textSub = #999
// 提示信息
$textLight = #cecece

// 圆角
$borderRadius = .08rem;



